<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,-0.3)), url(https://res.cloudinary.com/tophu/image/upload/v1554240171/Beverages_edited_v3.jpg)">
  <h1>Paris by Night</h1>
</div>
<!-- <div class="javascript-down-btn">
  <i class="fas fa-chevron-down fa-4x" onclick="scrollToBottom()"></i>
</div>
 -->
<div class="container">
  <br>
  <div id="content">

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% unless cocktail.photo.blank? %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.url, crop: :fill%>');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
          </div>

      <% end %>
    <% end %>
  </div>
  <br>
  <div class="home-btn">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-success" %>
  </div>
  </div>
</div>

<!-- <script>
  var elmnt = document.getElementById("content");
  function scrollToBottom() {
    elmnt.scrollIntoView({behavior: "smooth"}); // Bottom
  }
</script>
 -->
