<div class="container">
  <div class="new-cocktail-container">
    <div class="new-cocktail-form">
      <%= render 'form', cocktail: @cocktail %>
      <br>
      <br>
      <%= link_to "Home", cocktails_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
