<div class="container">

  <h1><%= @cocktail.name %></h1>

  <h2>Dose of Cocktail</h2>
  <% @cocktail.doses.each do |dose| %>
  <p><%= dose.description  %></p>
  <% end %>

  <br>


  <br>
  <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-secondary" %>

</div>

