.banner {
  height: 95vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position-y: 97%;
  width: 100%;
  .headers-text {
    display: flex;
    align-items: center;
    h1 {
    align-content: baseline;
    color: white;
    margin: 0;
    }
  }
}

